body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #007bff;
    padding: 15px;
    color: white;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

#quiz-container {
    background: white;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#question-box {
    margin-bottom: 20px;
}

#answers-container {
    margin-left: 20px; /* Sposta il contenitore delle risposte leggermente a destra */
    max-width: 80%; /* Limita la larghezza del contenitore per evitare che si estenda troppo */
}

#answers-container button {
    display: block;
    width: 80%; /* Riduci la larghezza dei pulsanti per centrarli meglio */
    margin: 10px auto; /* Centra i pulsanti orizzontalmente */
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #3498db;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

#answers-container button:hover {
    background-color: #218838;
}

#start-button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#start-button:hover {
    background-color: #0056b3;
}

#timer {
    font-size: 18px;
    font-weight: bold;
    color: black;
}


