/* styles.css - CSS comune */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #2c3e50;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header nav ul {
    list-style-type: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 20px;
}

h2 {
    color: #2c3e50;
}

button {
    padding: 10px 15px;
    background-color: #648db5;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #648db5;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #34495e;
    color: white;
    text-align: center;
    padding: 10px;
}

/*
footer {
    text-align: center;
    padding: 10px;
    background-color: #34495e;
    color: white;
}
*/

/* Responsive Design */
@media (max-width: 768px) {
    header nav ul {
        text-align: center;
    }
}
